// #app {
//   height: 100%;
// }

#background {
  width: 100%;
  height: 102%;
  background-image: url('//localhost:3000/img/tent1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  // This causes issues on smaller screens:
  background-position: 0px -100px, center;

  #background-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top: 0;

    #process-explanation {
      margin-top: 40px;
      width: 60%;
      text-align: center;
      color: white; 

      img {
        width: 40px;
      }
    }

    #enter-location {
      margin-top: 5px;
      text-align: center;
    }

    #fb-login {
      margin-top: 30px;
      text-align: center;
    }

    button.wide {
        width: 60%;
        border-radius: 5px;
      }

    .arrow {
      margin-top: 15px;
      width: 30px;
    }

    .custom-offset {
      margin-left: 4%;
    }

    #calendar {
      margin-top: 30px;
      width: 50%;
    }

    #vote-activator-heading {
      color: black;
      margin-top: 5px;
    }

    #vote-activator {
      width: 30%;

      .columns {
        padding: 0;
      }

      button {
        background-color: transparent;
        border: 2px solid #3adb76;
        width: 100%;
        font-size: 1em;
        color: black;
      }
      button.active {
        background-color: #3adb76;
        color: white;
      }
    }

    #event-details-header {
      color: black;
      margin: 0;
      margin-top: 20px;
    }

    #location-options, #date-options {
      padding: 20px;
      background-color: white;
      border-radius: 3px;
      
      .location-vote-button{
        margin-top: 15px;
        border-radius: 3px;
      }
      
      h3{
        font-size: 19px;
      }

      h4{
        font-size: 18px;
      }

      .location-option-wrapper, .date-option-wrapper {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        border: 1px solid #e5e5e5;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 20px;

        .location-info, .date-info {
          color: black;
          padding-top: 14px;
          text-align: center;

          h3, h4 {
            display: inline-block;
          }

          h4 {
            margin-left: 40px;
          }

          button {
            width: 100%;
            margin: 0 auto;
            display: block;
          }
        }

        .location-overlay {
          background-color: rgba(0,0,0,.3);
          width: 100%;
          height: 100%;
          top: 0;
        }

        .location-image {
          background-image: url("//localhost:3000/img/tent3.jpg");
          background-size: cover;
          height: 200px;
        }
      }  
    }
  }
}

#process-container {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0 auto;

  #progress-indicator-wrapper {
    padding-top: 20px;
    padding-bottom: 120px;
    background-color: black;
    background-image: none;
    background-image: url('http://localhost:3000/img/tent1.jpg');
    background-size: cover;

     #progress-indicator {
      width: 80%;
      min-width: 680px;

      .outline-circle {
        padding: 15px;
        border: 3px solid #3adb76;
        border-radius: 50%;
        max-width: 70px;
        margin: 0 auto;
        background-color: #e6e6e6;

        img {
          max-width: 100%;
        }
      }
      
    }

    #progress-indicator[data-page="event/addfriends"], #progress-indicator[data-page="event/eventconfig"] {
      #location-circle {
        background-color: #3adb76;
      }
    }

    #progress-indicator[data-page="event/vote"]  {
      #location-circle, #friends-circle {
        background-color: #3adb76;
      }
    }
  }

  #process-body-container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    margin-top: -100px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
  }
}

#back-button-container {
  position: absolute;
  left: 20px;
  top: 35px;
  height: 43px;
  cursor: pointer;

  .fa-chevron-left{
    padding-right: 8px;
    color: white;
  }

  h3 {
    margin: 0;
    font-size: 22px;
    display: inline-block;
    color: white;
  }
}

body.page2 {
  background-image: url('/img/tent3.jpg');
}

.DateRangePicker {

  .DateRangePicker__PaginationArrowIcon--previous {
    border-right: 8px solid white;
    opacity: 1;
  }

  .DateRangePicker__PaginationArrowIcon--next {
    border-left: 8px solid white;
    opacity: 1;
  }

  .DateRangePicker__MonthHeader span {
    color: black;
  }

  .DateRangePicker__CalendarSelection {
    background-color: #3adb76;
    border: 1px solid #3adb76;
  }

  .DateRangePicker__Legend {
    display: none;
  }

  .DateRangePicker__LegendItemColor--selection {
    background-color: #3adb76;
  }

  .DateRangePicker__CalendarHighlight--single {
    border: 1px solid #3adb76;
  }

  .DateRangePicker__LegendItemLabel {
    color: white;
  }
}

#voting-page-heading h3{
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}


#add-location{
  background-color: white;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3px;
}



.appear-enter {
  opacity: 0.01;
}

.appear-enter.appear-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.appear-leave {
  opacity: 1;
}

.appear-leave.appear-leave-active {
  opacity: 0.01;
  // transition: opacity 100ms ease-in;
}