body {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -100px, center;

  #body-overlay {
    background-color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
  }

  #event-left-column {
    margin-top: 50px;
  }

  #event-right-column {
    margin-top: 50px;
  }

  #user-scroll-section{
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .user-profile-info {
    display: block;    
  }

  .carpool-button {
    border-radius: 10%;
    float: right;
    display: inline-block;
  }

  .user-profile-name {
    display: inline-block;
  }

  .user-profile-image{
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    margin: 0;
    display: inline;
  }

  .left-column-event {
    background-color: #F9F9F9;
  }

  #packing-list-container {
    float: right;
    width: 50%;
    /*background-color: #FFFFFF;*/
  }

  #packing-list-add-more-form{
    background-color: #F9F9F9;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;  
    border: 1px none #cacaca;
  }

  #packing-list-header {
    background-color: #F9F9F9;
    padding: 10px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin: 0;
    border-bottom: 1px solid #eaeaea;
  }

  .list-item {
    background-color: #F9F9F9;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    border-color: black;
    border-bottom: 1px solid #eaeaea;
    font-weight: bold;
    text-indent: 10%;
  }

  #packing-unordered-list {
    margin-bottom: 0%;
  }

  .list-item.item-packed {
    background-color: #3ABFB4;
  }

  ol, ul {
    margin-left: 0%;
  }

}

