body {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -100px, center;

  #body-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
  }

  #packing-list-container {
    display: inline;
    float: right;
    margin-top: 20px;
    width: 20%;
    /*background-color: #FFFFFF;*/
  }

  #packing-list-add-more-form {
    background-color: #F9F9F9;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
    text-align: center;  
  }

  #packing-list-header {
    background-color: #F9F9F9;
    padding: 10px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin: 0;
    border-bottom: 1px solid #eaeaea;
  }

  .list-item {
    background-color: #F9F9F9;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    border-color: black;
    border-bottom: 1px solid #eaeaea;
    font-weight: bold;
    text-indent: 10%;
  }

  #packing-unordered-list {
    margin-bottom: 0%;
  }

  .list-item.item-packed {
    background-color: #3ABFB4;
  }

  ol, ul {
    margin-left: 0%;
  }

}

