.landing-page{
  margin-top: 120px;
  
  img{
    margin-bottom: 13px;
  }

  form{
    margin-top: 45px;
    input{
      text-align: center;
    }
    button{
      font-weight: 700;
    }
  }

  h1, h2, p, h3 {
    font-family: 'Montserrat', sans-serif;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }
}

#fb-login button{
    background: linear-gradient(#4c69ba, #3b55a0);
    border-color: #4c69ba;
    border-radius: 2px;
    color: #fff;
    font-family: "Helvetica neue";
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 -1px 0 #354c8c;
    font-weight: bold;
    margin-top: 30px;
}