#open-sidebar-button {
  right: 40px;
  top: 38px;
}

#open-sidebar-button, #open-sidebar-button::before, #open-sidebar-button::after{
    position: absolute;
    display: block;
    height: 4px;
    width:28px;
    background-color: white;
    transition: all .2s ease-out;
}

#open-sidebar-button::after, #open-sidebar-button::before {
    width: 100%;
}

#open-sidebar-button::before {
    content: "";
    bottom: 8px;
}

#open-sidebar-button::after {
    content: "";
    top: 8px;
}

.login-header {
  max-width: 300px;
  text-align: center;
}

.events-sidebar {

  a {
    display: block;
    width: 100%;
    font-size: .8em;
  }

  span {
    font-size: 1.2em;
    margin: 5px 0;
    margin-top: 10px;
    display: block;
    color: white;
  }

}

.bm-item-list {
  text-align: center;

  i {
    font-size: 1.5em;
  }
}

.bm-menu {
  background: #373a47;
  padding: 2em 1.5em 0;
  font-size: 1.15em;
}

.bm-burger-bars {
  display: none;
}

.bm-cross {
  background: #bdc3c7;
}

.loggedin-container{
  button{
    margin-top: 5px;
    border-radius: 3px;
    border: 0.5px solid white;
  }
}

#loggedin-indicator{
  display: inline-block;
  margin: 0;
  span{
    font-weight: 600;
  }
}