
#open-sidebar-button, #open-sidebar-button::before, #open-sidebar-button::after{
    position: absolute;
    display: block;
    height: 4px;
    width:28px;
    background-color: white;
    transition: all .2s ease-out;
}

#open-sidebar-button::after, #open-sidebar-button::before {
    width: 100%;
}

#open-sidebar-button::before {
    content: "";
    bottom: -16px;
}

#open-sidebar-button::after {
    content: "";
    top: 8px;
}

.login-header {
  max-width: 300px;
  text-align: center;
}

.events-sidebar {
  text-align: center;
  line-height: 1.55;
  padding-bottom: 40px;

  a {
    width: 100%;
    font-size: 14px;
    color: white;
    line-height: 2.2;
    display: block;
  }

  span {
    font-size: 18px;
    margin: 5px 0;
    margin-top: 25px;
    display: block;
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
  }

}

.bm-item-list {
  text-align: center;
  padding: 3em 1em 0;

  i {
    font-size: 1.5em;
  }
}

.bm-menu {
  background: #373a47;
  font-size: 1.15em;
}

.bm-menu-wrap{
  top: 0;
}
.bm-burger-bars {
  display: none;
}

.bm-cross {
  background: #bdc3c7;
}

.loggedin-container{
  button{
    margin-top: 10px;
    border-radius: 3px;
    position: absolute;
    left: 12px;
    top: 1px;
  }
}

#loggedin-indicator{
  display: inline-block;
  margin: 0;
  font-size: 14px;
  span{
    font-weight: 600;
  }

}

.bm-menu{
  position: relative;
}

.sidebar-home-link .fa-home{
  padding-right: 7px;
  display: block;
  vertical-align: top;
  color: #2199e8;
  font-size: 1.3em;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 25px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
  display: inline-block;
}
