.location-image {
  background-image: url("//localhost:3000/img/tent3.jpg");
  background-size: cover;
  height: 200px;
  position: relative;
}

.location-image-columns:nth-child(2) .location-image {
    background-image: url("//localhost:3000/img/night.jpg");
}

.location-image-columns:nth-child(3) .location-image {
    background-image: url("//localhost:3000/img/tent8.jpg");
}
.location-image-columns:nth-child(4) .location-image {
    background-image: url("//localhost:3000/img/tent4.jpg");
}
.location-image-columns:nth-child(5) .location-image {
    background-image: url("//localhost:3000/img/tent5.jpg");
}
.location-image-columns:nth-child(6) .location-image {
    background-image: url("//localhost:3000/img/tent6.jpg");
}
.location-image-columns:nth-child(7) .location-image {
    background-image: url("//localhost:3000/img/tent7.jpg");
}

.user-profile-vote-list{
  margin-bottom: 3px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.vote-user-picture {
  border-radius: 50%;
  max-width: 40px;
  display: inline-block;
  border: 2px solid white;
  
}

.date-vote-row {
  height: 40px;
  position: relative;
}

#voting-page-heading h3 {
  color: white;
}

#event-header-vote-page {
  background-color: white;

  #event-header-left, #event-header-right {
    padding: 10px;
    width: 50%;
    display: inline-block;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    text-align: center;
    height: 100px;
    vertical-align: top;

    p {
      display: inline-block;
      margin: 0 10px;
    }

    h3 {
      margin-top: 20px;
    }

    .date-info {
      padding-top: 14px;
    }
  }

}

#voting-page-wrapper {
  background-color: white;
}



#add-date {
  .DateRangePicker {
    width: 200%;
    margin-left: -245%;
  }

  .add-date-button {
    display: block;
    margin-left: -300px;
  }
}

.add-location-button, .expand-calendar {
  float: right;
  margin-top: -40px;
}

.add-location-button {
  margin-right: 20px;
}

.expand-calendar {
  margin-right: -10px;
}

.expand-calendar.button.tiny,.add-location-button.tiny {
  font-size: 1.2em;
  height: 40px;
  padding: .5em .5em;
}

#voting-page-heading-row {
  margin-top: 20px;
}

